@model RazorAndMvc.Models.FullName


<div class="row">    
    @Html.DisplayNameFor(m=> m.FirstName):
    @Html.DisplayFor(m=> m.FirstName)
</div>
<div class="row">
    @Html.DisplayNameFor(m=> m.LastName):
    @Html.DisplayFor(m=> m.LastName)
</div>